<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
</head>

<body>

<header>
  <a href="#content-start" class="skip-to-main-content-link" id="skip-to-main-content">Skip to main content</a>

  <div class="nav-bar">
    <div class="nav-container">
        <div class="brand">
            <a href="#">Restaurant App</a>
        </div>
        <nav>
            <div class="nav-mobile">
                <a href="#" id="nav-toggle">
                    <span></span>
                </a>
            </div>
            <ul class="nav-list">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/favorite">Favorites</a></li>
                <li><a href="#">About Us</a>
                <ul class="nav-dropdown">
                    <li><a href="https://github.com/Nayla-11">Github</a></li>
                    <li><a href="https://www.instagram.com/ynnaylaa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/yanyannaydam/">Linkedin</a></li>
                </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
</header>

<main id="main-content">

  <!-- <div class="hero-image">
      <img src="./images/heros/hero-image_1.jpg" alt="Hero Image">
  </div>

  <h1 id="content-start">EXPLORER RESTAURANT</h1>

  <div class="container" id="restaurant-list"></div> -->
</main>

<footer>
  <div class="footer-content">
      <p>Copyright &copy; 2024 - Yanyan Nayla Damayanti</p>
      <ul class="footer-links">
          <!--<li><a href="#">Tautan 1</a></li>-->
          <!--<li><a href="#">Tautan 2</a></li>-->
          <!--<li><a href="#">Tautan 3</a></li>-->
      </ul>
  </div>
</footer>
</body>
</html>
